@model PagedList.PagedList<Data.Entities.Food>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Chicken";
}

<head>
   
    <link href="~/Content/css/follow-button.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    
</head>

<h2>Пилешко</h2>

<div class="sidebar">
    <div class="box follow-scroll">
        @*@Html.ActionLink("BACK TO FOODS", "Index", "Home", new {@class = "button"})*@
        <a href=@Url.Action("Index","Food") class="button">
            <span>Храни</span>
        </a>
    </div>
</div>
<div class="menu">
    
    <div class="table">
        @for (var i = 1; i < @Model.Count(); i++)
        {
            var item = Model[i];
            if (i % 2 == 0)
            {
                <span style="float:left; padding-left:90px;">
                    <img src="~/Content/Images/ChickenFoods/chicken.jpg" style="width: 200px; height:200px; border-radius:10px;" />
                    <span>| @item.Name</span>
                    <span>| @item.Price</span>
                    <span>| @item.Description</span>
                </span>
                <br />
            }
            else
            {
                <span style="padding-left:90px;">
                    <img src="~/Content/Images/ChickenFoods/chicken.jpg" style="width: 200px; height:200px; border-radius:10px;" />
                    <span>| @item.Name</span>
                    <span>| @item.Price</span>
                    <span>| @item.Description</span>
                </span>
            }
        }
    </div>
  
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Chicken", new { page, pageSize = Model.PageSize }),PagedListRenderOptions.Minimal)
    </div>
</div>
<script src="~/Content/JavaScript/follow-button/follow-button.js"></script>

