@model PagedList.PagedList<Data.Entities.Food>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Chicken";
}

<h2>Пилешко</h2>

<div class="menu">
    <div class="table">
        @for (var i = 1; i < @Model.Count(); i++)
        {
            var item = Model[i];
            if (i % 2 == 0)
            {
                <span style="float:left">
                    <img src="~/Content/Images/ChickenFoods/chicken.jpg" style="width: 200px; height:200px; border-radius:10px;" />
                    <span>| @item.Name</span>
                    <span>| @item.Price</span>
                    <span>| @item.Description</span>
                </span>
                    <br />
            }
            else
            {
                <span style="padding-left:90px;">
                    <img src="~/Content/Images/ChickenFoods/chicken.jpg" style="width: 200px; height:200px; border-radius:10px;" />
                    <span>| @item.Name</span>
                    <span>| @item.Price</span>
                    <span>| @item.Description</span>
                </span>
            }
        }
    </div>
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Chicken", new { page, pageSize = Model.PageSize }),PagedListRenderOptions.Minimal)
    </div>
</div>


