@model PagedList.PagedList<Data.Entities.Food>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Chicken";
}

<head>
    <link href="~/Content/css/follow-button.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    @Styles.Render("~/Content/css")
</head>

<h2>Пилешко</h2>

<div class="sidebar">
    <div class="box follow-scroll">
        <a href=@Url.Action("Index","Food") class="button">
            <span>Храни</span>
        </a>
    </div>
</div>
<div class="sidebar-right">
    <div class="box follow-scroll">
        <a href=@Url.Action("Index","Food") class="button">
            <span>Напитки</span>
        </a>
    </div>
</div>
<div class="menu">
    <div class="table">
        @for (var i = 0; i < @Model.Count(); i++)
        {
            var item = Model[i];
            <div class="menu-item">
                <img src="~/Content/Images/ChickenFoods/chicken.jpg" />
                <div class="item-name">
                    <p>@item.Name</p>
                </div>
                <div class="item-description">
                    <span>Описание:</span><br />
                    <span>@item.Description</span>
                </div>
                <div class="item-price">
                    <span>Цена</span>
                    <span>@item.Price</span>
                </div>
               
                <div class="item-specific">
                    <span>@item.Grammage грама</span>
                </div>
            </div>
            <br />
        }
    </div>
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Chicken", new { page, pageSize = Model.PageSize }), PagedListRenderOptions.Minimal)
    </div>
</div>
<script src="~/Content/JavaScript/follow-button/follow-button.js"></script>

