@{
    ViewBag.Title = "About";
}

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
      @foreach (var item in @ViewBag.FoodTypes)
      {
          @item;
        <a href="@Url.ActionLink("{0}", "Home")"><span>@item</span></a>
      }

    <p>Use this area to provide additional information.</p>
